@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
}
p,
div,
h1,
h2,
h3,
h4,
img,
input,
label {
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto;
  color: white;
  font-family: "Roboto", sans-serif;
}
.container {
  /* max-width: 1440px; */
  width: 100%;
  /* height: 780px; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  height: 80px;
  background: #1a202c;
  border: 1px solid #121212;
}
header img {
  width: 35px;
  height: 35px;
}
a:hover {
  opacity: 50%;
  transition: 0.3s;
}
main {
  width: 100%;
  height: 850px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  /* height: auto; */
  background: #232a3b;
  border: 1px solid #1a202c;
}

.event-container {
  max-width: 1440px;
  width: 100%;

  display: grid;
  align-content: center;

  grid-template-columns: 240px 240px 240px 240px;
  grid-template-rows: 320px 320px;
  grid-gap: 55px;
}

.event {
  /* max-width: 350px; */
  width: 100%;
  /* height: 180px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 25px;
  border: 1px solid #1a202c;
  border-radius: 5px;
  position: relative;
}

.event-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.buy-button {
  display: none;
  width: 150px;
  height: 40px;
  position: absolute;
  top: 45%;
  background-color: white;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

.event:hover .event-image {
  opacity: 0.5;
  cursor: pointer;
}

.event:hover .buy-button {
  display: block;
}

.buy-button:hover {
  background-color: #4e5e8a;
  transition: 0.3s;
  color: #fff;
}

footer {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  background: #121212;
  border: 1px solid #232a3b;
}

.footer-year {
  margin-left: -138px;
}

/* Account styles */
.login-container {
  max-width: 320px;
  width: 100%;
  height: 340px;
}
.register-container {
  max-width: 320px;
  width: 100%;
  height: 400px;
}
.login-container,
.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1a202c;
  border: 1px solid #121212;
  border-radius: 5px;
}
#login-modal,
#register-modal {
  display: none;
}
#register-modal {
  display: none;
}
#event-block {
  display: block;
}

.login-wrapper {
  width: 280px;
  height: 320px;
}
.register-wrapper {
  width: 280px;
  height: 380px;
}
.login-wrapper,
.register-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
}

a,
button,
.submit {
  cursor: pointer;
}
.action-button {
  display: flex;
  align-items: center;
  gap: 15px;
}
.login-btn,
.register-btn {
  width: 110px;
  height: 35px;
  background-color: white;
  border-radius: 5px;
  border: none;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form-details {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 0;
  padding: 0;
  margin: 0;
}
input {
  padding-left: 5px;
  border-radius: 3px;
  width: 250px;
  height: 38px;
  border: none;
  border: 1px solid #121212;
}
label {
  margin-bottom: 5px;
}

.submit {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  background-color: #4e5e8a;
  color: white;
  font-weight: 700;
  border: none;
}

.active {
  background-color: #4e5e8a;
  color: white;
  font-weight: 700;
  border: none;
}

/* Event info  */

.event-more {
  width: 800px;
  height: 400px;
  background-color: #1a202c;
  border: 1px solid #121212;
  border-radius: 5px;
}
.event-more-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  position: relative;
}
.event-info-details {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
#event-more {
  display: none;
}
#event-block {
  display: block;
}

.event-hero-image {
  width: 300px;
  height: 400px;
}

.close-btn {
  position: absolute;
  right: 3%;
  top: 3%;
}

.close-btn:hover {
  opacity: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.event-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 55px;
}
.event-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.event-description {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.event-params {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.event-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.event-place {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.reserv {
  width: 150px;
  height: 40px;

  background-color: white;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}
