@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
}
p,
div,
h1,
h2,
h3,
h4,
img,
input,
label {
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto;
  color: white;
  font-family: roboto;
}
.container {
  max-width: 1440px;
  height: 780px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  height: 80px;
  background: #1a202c;
  border: 1px solid #121212;
}
header img {
  width: 35px;
  height: 35px;
}
.logo:hover {
  opacity: 50%;
  transition: 0.3s;
}
.account:hover {
  opacity: 50%;
  transition: 0.3s;
}
main {
  width: 100%;
  height: 620px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  /* height: auto; */
  background: #232a3b;
  border: 1px solid #1a202c;
}

.event-container {
  max-width: 1160px;
  width: 100%;
  border: 1px solid green;
  display: grid;
  align-content: center;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 180px 180px;
  grid-gap: 55px;
}

.event {
  /* max-width: 350px; */
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 25px;
  border: 1px solid white;
  border-radius: 5px;
}
.event-image {
  width: 180px;
}
.event-image img {
  width: 130px;
  height: 180px;
  border-radius: 5px;
}
.event-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.event-description {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
  gap: 20px;
}
.event-date {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.event-place {
  display: flex;
  flex-direction: row;
  gap: 20px;
  border: 1px solid black;
}
footer {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  background: #121212;
  border: 1px solid #232a3b;
}

/* Account styles */
.login-container {
  width: 290px;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1a202c;
  border: 1px solid #121212;
  border-radius: 5px;
}
.login-wrapper {
  width: 250px;
  height: 320px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
}
.action-button {
  display: flex;
  align-items: center;
  gap: 15px;
}
.login-btn,
.register-btn {
  width: 110px;
  height: 35px;
  background-color: white;
  border-radius: 5px;
  border: none;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form-details {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 0;
  padding: 0;
  margin: 0;
}
input {
  width: 250px;
  height: 38px;
}
label {
  margin-bottom: 5px;
  border-radius: 8px;
  border: none;
}

.submit {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  background-color: #4299e1;
  border: none;
}

.active {
  /* background: linear-gradient(#070858, #90cdf4); */
  background-color: #4e5e8a;
  color: white;
  font-weight: 700;
}
